.fuente{
    font-family: 'Shippori Antique', sans-serif;
}

.fondo {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, #ffee00fb 28%, rgb(247, 150, 5) 54%, #ffee00fb  80%);
}

.fondobanner{
    background-image: url(img/imagenNaruto6.png);
    height: 200px;
    background-attachment: fixed;
    background-position:top center ;

}

#offcanvasExample{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, #c5c5c2fb 28%, rgb(119, 145, 231) 54%, #c5c5c2fb  80%);

    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 28px;
}

#tituloRegistro{
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 28px;
    text-align: center !important;
}

#imagenFROM{
    border-radius: 8px;
}

