.fondo{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, #2600fffb 28%, rgb(255, 255, 255) 54%, #2600fffb   80%);
}

body{
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-weight: bold  !important;
}
#colorCarroImagen{
    background-color: rgb(0, 17, 255);
}